:root{
    --azul-marino: #404258;
    --azul-secundario: #474E68;
    --blanco-principal: #FFFFFF;
    --gris-secundario: #aeb9dd;

    --sm: 14px;
    --md: 16px;
    --lg: 18px;
    --xxlg:52px;

}