@import '_vars';


.menu-container{
    display: flex;
    justify-content: center;
    position: fixed;
    top: 4rem;
    right: 3rem;
    border-radius: 30;
    z-index: 1; 
    background-color: var(--azul-marino);
}

.menu-container ul{
    list-style-type: none;
    padding-left: 0;
    padding-right: 30px;
}



.menu-container a{
    font-size: var(--xsm);
    font-weight: bold;
    color: var(--blanco-principal);
    
    text-decoration: none;
}

.menu-container ul li a{
    text-align: end;
    margin-left: 40px;
    color: var(--blanco-principal);
    font-weight: bold;
}
