@import '_vars';



.navbar {
    position: fixed !important;
    top:0;
    left:0;
    right: 0;
    z-index: 20;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    padding: 0 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  }
  
  .logo {
    display: flex;
    align-items: center;
  }
  
  .logo-nav {
    width: 75px;
    height: auto;
    margin-right: 10px;
  }
  
  .logo h1 {
    font-size: 24px;
    font-weight: bold;
    color: #333;
  }
  
  .search-bar {
    flex: 1;
    max-width: 500px;
    height: 40px;
    margin: 0 20px;
    border-radius: 20px;
    background-color: #f2f2f2;
    display: flex;
    align-items: center;
    padding: 0 20px;
  }
  
  .search-bar input[type="text"] {
    flex: 1;
    height: 100%;
    border: none;
    outline: none;
    font-size: 16px;
    color: #333;
    background-color: transparent;
  }
  
  .search-bar button {
    width: 40px;
    height: 40px;
    border: none;
    outline: none;
    background-color: transparent;
    cursor: pointer;
  }
  
  .user-buttons {
    display: flex;
    align-items: center;
  }
  
  .user-buttons button {
    margin-left: 20px;
    padding: 10px;
    border: none;
    outline: none;
    background-color: #f2f2f2;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    color: #333;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  }
  
  .user-buttons button:hover {
    background-color: #ddd;
  }
  

.menu{
    
    display: none;
    width: 44px;
    height: 44px;

}

.logo{
    width: 80px;
    height: 65px;
}

.navbar-izquierda ul,
.navbar-derecha ul {
list-style: none;
padding: 0;
margin: 0;
display: flex;
align-items: center;
height: 60px;
}

.navbar-izquierda{
    display: flex;
}
.navbar-izquierda ul{
    margin-left: 12px;
}

.navbar-izquierda ul li a,
.navbar-derecha ul li a {
text-decoration: none;
color: var(--blanco-principal);
padding: 8px;
border-radius: 8px;
}

.navbar-izquierda ul li a:hover,
.navbar-derecha ul li a:hover {
    border: 1px solid var(--blanco-principal);
    color: var(--gris-secundario);
}


.navbar-email{
    color: var(--azul-secundario);
    font-size: var(--sm);
    margin-right: 12px;
}

.navbar-carrito{
    position: relative;
}

.navbar-carrito div{
    width: 16px;
    height: 16px;
    background-color: var(--azul-secundario);
    border-radius: 50%;
    font-size: var(--sm);
    font-weight: bold;
    position: absolute;
    top: -6px;
    right: -3px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.carrito{
    width:  50px;
    height: 50px;
}

.carritounidades{
    color: var(--blanco-principal);
}

.menu{
    display: none;
}

@media(max-width: 640px){
    .menu{
        display: block;
    }
    .navbar-izquierda ul{
        display: none;
    }
    .navbar-email{
        display: none;
    } 
}