@import '_vars';
.card_carrito {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--azul-marino);
    border-radius: 50px;
    padding: 20px;
    margin-top: 10px;
    margin-left: 20px;
    margin-right: 20px;
    color: var(--blanco-principal);
}

h2{
    font-weight: bold;
    font-size: var(--lg);
}